.Image {
    max-width: 80%;
    width: 60%;
    height: auto;
} 

.previewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Preview-Options {
    display: flex;
}
