body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
}
.Image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
} 

.previewer-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr 0.5fr;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    overflow: hidden;
}

.Preview-Container {
    width: 100%;
    height: 775px;
    overflow: hidden;
    
}

.SubmitResetContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.Preview-Images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    
}

.ResetButton {
    font-size: 20px;
    background-color: #2467b4 !important;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-width: 2px;
    padding-left: 40px;
    padding-right: 40px;
    align-self: center;
    transition: 0.2s ease;
    border-top: white 2px solid;
    margin-top: 10px;
}
.ResetButton:hover {
    background-color: #052044!important;
    border: 2px solid white !important;
    color: white !important;
    transition: 0.2s ease;
}

.Preview-Options {
    display: flex;
}

.TypeOptionsList {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    background-color: #444444;
    z-index: 3;
    color: white;
}

.ShapeOptionsList {
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, visibility 0s linear 0.5s, transform 0.5s cubic-bezier(0.77,0,0.175,1);
    background-color: #666666;
    z-index: 1;
    color: white;
}

.ColorOptionsList {
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, visibility 0s linear 0.5s, transform 0.5s cubic-bezier(0.77,0,0.175,1);
    background-color: #555555;
    z-index: 2;
    color: white;
}

.AccessoriesOptionsList {
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, visibility 0s linear 0.5s, transform 0.5s cubic-bezier(0.77,0,0.175,1);
    background-color: #777777;
    z-index: 0;
    color: white;
}

.TypeOptionsList ul {
    display: flex;
    flex-direction: column;
    
    padding: 0;
    
}

.ShapeOptionsList ul {
    display: flex;
    flex-direction: column;
    
    padding: 0;
}

.ColorOptionsList ul {
    display: flex;
    flex-direction: column;
    
    padding: 0;
}

.AccessoriesOptionsList ul {
    display: flex;
    flex-direction: column;
    
    padding: 0;
}




.active {
    display: flex !important;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.77,0,0.175,1);
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.NoCombinationMessage {
    font-size: 1rem;
    color: red;
    margin-top: 20px;
    display: block;
    transition: 0.2s ease;
    
}

.TypeOptionsList button {
    background-color: none;
    border-bottom: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    width: 100%;
    background-color: #444444;
    color: white;
}

.TypeOptionsList button:hover {
    background-color: #ffc848;
    border-color: #ffb347;
    border-width: 2px;
    color: black;
    
    
}

.ColorOptionsList button {
    background-color: none;
    border-bottom: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    width: 100%;
    background-color: #555555;
    color: white;
}

.ColorOptionsList button:hover {
    background-color: #ffc848;
    border-color: #ffb347;
    color: black;
    border-width: 2px;
}

.ColorOptionsList button:disabled {
    background-color: #333333;
    cursor: not-allowed;
    color: #777777;
    border-color: #333333;
}

.AccessoriesOptionsList button {
    background-color: none;
    border-bottom: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    width: 100%;
    background-color: #777777;
    color: white;
}

.AccessoriesOptionsList button:hover {
    background-color: #ffc848;
    border-color: #ffb347;
    color: black;
    border-width: 2px;
}

.AccessoriesOptionsList button:disabled {
    background-color: #333333;
    cursor: not-allowed;
    color: #777777;
    border-color: #333333;
}

.ShapeOptionsList button {
    background-color: none;
    border-bottom: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    width: 100%;
    background-color: #666666;
    color: white;

}

.ShapeOptionsList button:disabled {
    background-color: #333333;
    cursor: not-allowed;
    color: #777777;
    border-color: #333333;
}

.ShapeOptionsList button:hover {
    background-color: #ffc848;
    border-color: #ffb347;
    border-width: 2px;
    color: black;
}

.AccessoriesH2 {
    text-align: center;
    color: white;
    margin: 0;
}

.AccessoryOption {
    background-color: #f0f0f0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}

.AccessoryOption:hover {
    background-color: #ffc848;
    border-color: #ffb347;
    border-width: 2px;
}

.AccessoryOption:active {
    
    border-width: 0px;
}

.PreviewForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    
    
    
}
.PreviewForm button {
    padding: 10px 20px;
    
}

  

.ShapeSelected {
    background-color: #ffe29c !important;
    color: black !important;
    border-color: #ffb347 !important;
    border: 2px ;
    transition: background-color 0.2s ease-in-out;
}

.TypeSelected {
    background-color: #ffe29c !important;
    border-color: #ffb347 !important;
    color: black !important;
    border: none;
    transition: background-color 0.2s ease-in-out;
}


.ColorSelected {
    background-color: #ffe29c !important;
    border-color: #ffb347 !important;
    color: black !important;
    border: none;
    transition: background-color 0.2s ease-in-out;
}


.AccessorySelected {
    background-color: #ffe29c !important;
    color: black !important;
    border: none !important;
    transition: background-color 0.2s ease-in-out;
}

.AccessoryOption:disabled {
    background-color: #333333;
    cursor: not-allowed;
    color: #777777;
    border-color: #333333;
}


.AccessoryNForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #333333;
    
    overflow-y: scroll;
    
}



.TypeOptionSelected {
    margin-bottom: 20px;
}
.ColorOptionSelected {
    margin-bottom: 20px;
}
.ShapeOptionSelected {
    margin-bottom: 20px;
}


.SubmitButton {
    font-size: 20px;
    background-color:#ffc848;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-width: 2px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    align-self: center;
    transition: 0.2s ease;
}
.SubmitButton:hover {
    background-color: #ffb347;
    border: 2px solid white;
    transition: 0.2s ease;
}

.WordingInput {
    
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.PreviewForm input[type="text"],
.PreviewForm input[type="tel"],
.PreviewForm input[type="email"] {
    background-color: #555555;
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    
    margin-bottom: 10px;
}



.PreviewForm textarea {
    background-color: #555555;
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 0px;
    
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}


.PreviewForm input[type="text"]:focus,
.PreviewForm input[type="tel"]:focus,
.PreviewForm input[type="email"]:focus,
.PreviewForm textarea:focus {
    outline: none;
    background-color: #ffc848;
    border-color: #ffb347;
    color: black;
}


.FormParagraph {
    color: white;
    text-align: left;
    max-width: 100%;
}

.MobileReset {
    display: none;
}

@media only screen and (max-width: 915px) {
    .previewer-container {
        display: flex ;
        flex-direction: column;
        align-items: center;
        overflow: auto;

    }
    .ResetButton {
        display: none;
    }
   
    
     .Preview-Images {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Preview-Options {
        flex-direction: column;
        align-items: center;
        
    }
     .TypeOptionsList, .ShapeOptionsList, .ColorOptionsList, .AccessoriesOptionsList {
        width: 100%;
        
    }
     .SubmitResetContainer {
        flex-direction: column;
    }
    .MobileReset {
        display: block;
        width: 100vw;
        color: white;
    }
}